@model BookStore.Models.ViewModels.BookViewModel;

@{
    ViewData["Title"] = "Добавить пользователя";
}

<div class="row">
    <div class="col-2">
        <partial name="_NavPartial" />
    </div>
    <div class="card col-10 bg-light">
        <article class="card-body mx-auto">
            <form asp-controller="Admin" asp-action="AddBook" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" asp-for="Name" placeholder="Название книги" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Author" placeholder="Автор" />
                    <span asp-validation-for="Author"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Category" placeholder="Категория" />
                    <span asp-validation-for="Category"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Price" placeholder="Цена" />
                    <span asp-validation-for="Price"></span>
                </div>
                <div class="form-group">
                    <textarea class="form-control" asp-for="Description" placeholder="Описание"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <input type="file" accept="image/*" class="form-control" asp-for="Photo" placeholder="Фото" />
                    <span asp-validation-for="Photo"></span>
                </div>
                <button class="btn btn-primary" type="submit">Добавить книгу</button>
            </form>
        </article>
    </div>
</div>